.bottoni{
margin-top: 10px;
border-radius: 10px;

#btn1{ height: 4rem;
       background-color: blue;
       color:white
       border-radius: 10px;
       width: 180px;
       font-size: 1.2rem;
     }
      
#btn2{ height: 4rem;
       background-color: orangered;
       color: white;
       border-radius: 10px;
       width: 60px;
       width: 100px;
       font-size: 1.2rem;
     }}
           
